/* Default styles for small screens and anything not caught by media */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: aqua;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 600px) {
  body{ background-color: yellow;}
}

header{
  display: flex;
}

.logo{
  max-width: 25vw;
  max-height: 25vh;
  border: 5px solid black;
  border-radius: 20%;
  
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
/*Styled for scrrens 600px wide and larger*/

/* .column{
    width: 100%
} */
/* h1{
  display: inline;
  background-color: beige;
} */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */


/* Create three equal columns that float next to each other */
/* .column {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    width: 33.33%;
  } */
  
  /* Clear floats after the columns */
/* .row:after {
    content: "";
    display: table;
    clear: both;
  } */

header{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
  